* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: comic sans ms, cursive, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

.navbar {
  background-color: #fbff00;
  padding: 0 2rem;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 67px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-links a:hover {
  color: #e94560;
}

.hero {
  background-color: #fbff00;
  color: white;
  text-align: center;
  padding: 3rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.hero p {
  font-size: 1.1rem;
  color: #000000;
}

.card-img {
  width: 100%;
  height: 180px;
}

.footer {
  background-color: #fbff00;
  color: #000000;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.85rem;
  margin-top: 3rem;
}

.content-section {
  padding: 40px 20px;
}

.card-row {
  display: flex; /* display: flex — activates flexbox layout for cards */
  flex-wrap: wrap; /* flex-wrap — allows cards to move to new line instead of overflowing */
  justify-content: space-between;  /* justify-content — controls horizontal spacing between cards */
  gap: 20px; /* gap — adds consistent spacing between flex items */
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1; /* flex-grow — allows cards to grow relative to each other */
  width: 250px;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

.perks-row {
  display: flex; /* display: flex — places perks side-by-side */
  justify-content: space-between; /* justify-content — spreads perks evenly */
  align-items: center; /* align-items — vertically centers perk content */
  gap: 20px;
  padding: 30px 20px;
  background-color: #fbff00;
  color: rgb(0, 0, 0);
}

.perk {
  display: flex; 
  flex-direction: column; /* flex-direction: column — stacks heading and paragraph vertically */
  flex-grow: 1;
}

.perk:first-child {
  align-self: flex-start; /* align-self — overrides container alignment for one item */
}